<div class="wrapper row" style="min-height: 80vh;">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>봉사자 모집 게시판</h2>
    <table class="table">
      <thead>
        <tr>
          <th style = "text-align:center">지역</th>
          <th style = "text-align:center">내용</th>
          <th style = "text-align:center">일정</th>
          <th style = "text-align:center">숙식제공</th>
          <th style = "text-align:center">등록일</th>
          <th style = "text-align:center">모집</th>
        </tr>
      </thead>
    
      <tbody>
        <% @posts.each do |post| %>
          <tr style = "cursor:pointer;" onClick = " location.href='<%=post_path(post.id)%>' " onMouseOver = " indow.status = '<%=post_path(post.id)%>' " onMouseOut = " window.status = '' " >
            <td style = "text-align:center"><%=post.location_one%> <%=post.location_two%></td>   
            <td class="col-md-5 col-xs-6" style = "text-align:center"><%= post.title %></td>
            <td style = "text-align:center"><%= post.start_date%> ~ <br><%= post.end_date%></td>
            <td style = "text-align:center"><%=post.welfare%></td>
            <td style = "text-align:center"> <%= time_ago_in_words(post.created_at) %> ago</td>
            <td style = "text-align:center"><%= post.person %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <br>
    <%= link_to '새 글쓰기', new_post_path, class: "btn btn-default" %>
  </div>
</div>