<p id="notice"><%= notice %></p>
<div class="wrapper row2" style="min-height: 80vh;">
    <table class="table">
      <thead>
        <tr>
          <th style = "text-align:center">지역</th>
          <th style = "text-align:center">내용</th>
          <th style = "text-align:center">일정</th>
          <th style = "text-align:center">숙식제공</th>
          <th style = "text-align:center">등록일</th>
          <th style = "text-align:center">모집</th>
        </tr>
      </thead>
    
      <tbody>
        <% @posts.each do |post| %>
          <tr style = "cursor:pointer;" onClick = " location.href='<%=post_path(post.id)%>' " onMouseOver = " indow.status = '<%=post_path(post.id)%>' " onMouseOut = " window.status = '' " >
            <td style = "text-align:center"><%=post.location_one%> <%=post.location_two%></td>   
            <td class="col-md-6 col-xs-6" style = "text-align:center"><%= post.title %></td>
            <td style = "text-align:center"><% post.start_date%> ~ <%post.end_date%></td>
            <!--<td>
              <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe, post %>&nbsp;
              <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_post_path(post) %>&nbsp;
              <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td> 이건 글 작성, 글 수정, 글 삭제 기능 나중에-->
            <td style = "text-align:center"><%=post.welfare%></td>
            <td style = "text-align:center"> <%= time_ago_in_words(post.created_at) %> ago</td>
            <td style = "text-align:center"><%= post.person %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <br>
  <%= link_to 'New Post', new_post_path, class: "btn btn-default" %>
</div>