<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <hr style="border: solid 1px;">
    <div class="form-group">
      <h1 style="text-align: center"><%=label_tag @post.title%><br></h1>
    </div>
    
    <hr>
    
    <div>
      <p style="text-align: right">글쓴이 : <%= @post.user.name %></p>
      <div class="form-group">
        <p style="font-size:1.5em">
          지역&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= @post.location_one %>&nbsp<%= @post.location_two %>
        </p>
      </div>
      
      <div class="form-group">
        <p style="font-size:1.5em">
          일정&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= @post.start_date %>&nbsp~&nbsp<%= @post.end_date %>
        </p>
      </div>
      
       <div class="form-group">
        <p style="font-size:1.5em">
          희망인원&nbsp&nbsp
          <%= @post.person %>명
        </p>
      </div>
      
      <div class="form-group">
        <p style="font-size:1.5em">
          숙식제공&nbsp&nbsp
          <%= @post.welfare %>
        </p>
      </div>
      
      <div class="form-group">
        <p style="font-size:1.5em">
          연락처&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= @post.phone %>
        </p>
      </div>
    </div>
    <hr style="border: solid 1px;">
    
    <p style="color:#A6A6A6"><strong>상세 내용</strong></p>
    
    <%= @post.content.html_safe %>
    <hr style="border: solid 1px;">
  
    
    <%if @post.user_id == current_user.id%>
      <%if @post.complete.to_i == 0%>
        <a href="/posts/toggle/<%=@post.id%>" class="btn btn-default">모집 완료</a>
      <%else%>
        <a href="/posts/toggle/<%=@post.id%>" class="btn btn-default">재 모집</button></a>
      <%end%>
      <br>
      <br>
      <%= link_to '글 수정', edit_post_path(@post), class: "btn btn-default" %> 
      <%= link_to '글 삭제', "/posts/#{@post.id}", :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      
    <%end%>
    <%= link_to '뒤로 가기', "/posts?post_type=#{@post_type}", class: "btn btn-default" %>
    <br>
    
    
  </div>
</div

<scripts>
</scripts>