<!DOCTYPE html>
<html>
<head>
  <title>Lalapeden</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body id="top">
<%= tinymce_assets %>
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">최종 봉사, 농활</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">홈</a></li>
        <li><a class="drop" href="#">농활 신청</a>
          <ul>
            <li><a href="/serves">게시판</a></li>
            <li><a href="/serves/new">새 글 쓰기</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">봉사자 모집</a>
          <ul>
            <li><a href="/posts">게시판</a></li>
            <li><a href="/posts/new">새 글 쓰기</a></li>
          </ul>
        </li>
          
        <%if user_signed_in?%>
        <li><a class="drop" href="#"><%=current_user.name%>님</a>
          <ul>
              <li><a href="users/edit">MyPage</a></li>
              <li><%=link_to '로그아웃', destroy_user_session_path, :method => :delete %></li>
            </ul>
        </li>
        <%else%>
          <%= link_to '로그인', new_user_session_path %>
        <%end%>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<%= yield %>
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <h6 class="heading">LIKE LION</h6>
    <p>멋쟁이사자처럼은 2013년 프로그래머 이두희가 설립한 프로그래밍 교육 단체이다. <br>궁극적 목표는 컴퓨터공학 비전공자들도 프로그래밍 기초 지식을 배워 자신만의 <br>웹서비스를 만들어 이를 통해 꿈을 실현할 수 있도록 하는 것이다.</p>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="https://www.facebook.com/likelion.net/"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="https://twitter.com/hashtag/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC"><i class="fa fa-twitter"></i></a></li>
    </ul>
    <nav>
      <ul class="nospace">
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">LIKE LION</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://github.com/sasgaNamabeer/honGchaton" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/layout/scripts/jquery.min.js"></script>
<script src="/layout/scripts/jquery.backtotop.js"></script>
<script src="/layout/scripts/jquery.mobilemenu.js"></script>
<script src="/layout/scripts/jquery.flexslider-min.js"></script>

</body>
</html>
